:root,
[data-theme=light] {
    --kll-blue: #0d6efd;
    --kll-indigo: #6610f2;
    --kll-purple: #6f42c1;
    --kll-pink: #d63384;
    --kll-red: #dc3545;
    --kll-orange: #fd7e14;
    --kll-yellow: #ffc107;
    --kll-green: #198754;
    --kll-teal: #20c997;
    --kll-cyan: #0dcaf0;
    --kll-black: #000;
    --kll-white: #fff;
    --kll-gray: #6c757d;
    --kll-gray-dark: #343a40;
    --kll-gray-100: #f8f9fa;
    --kll-gray-200: #e9ecef;
    --kll-gray-300: #dee2e6;
    --kll-gray-400: #ced4da;
    --kll-gray-500: #adb5bd;
    --kll-gray-600: #6c757d;
    --kll-gray-700: #495057;
    --kll-gray-800: #343a40;
    --kll-gray-900: #212529;
    --kll-primary: #0d6efd;
    --kll-secondary: #6c757d;
    --kll-success: #198754;
    --kll-info: #0dcaf0;
    --kll-warning: #ffc107;
    --kll-danger: #dc3545;
    --kll-light: #f8f9fa;
    --kll-dark: #212529;
    --kll-primary-rgb: 13, 110, 253;
    --kll-secondary-rgb: 108, 117, 125;
    --kll-success-rgb: 25, 135, 84;
    --kll-info-rgb: 13, 202, 240;
    --kll-warning-rgb: 255, 193, 7;
    --kll-danger-rgb: 220, 53, 69;
    --kll-light-rgb: 248, 249, 250;
    --kll-dark-rgb: 33, 37, 41;
    --kll-primary-text-emphasis: #052c65;
    --kll-secondary-text-emphasis: #2b2f32;
    --kll-success-text-emphasis: #0a3622;
    --kll-info-text-emphasis: #055160;
    --kll-warning-text-emphasis: #664d03;
    --kll-danger-text-emphasis: #58151c;
    --kll-light-text-emphasis: #495057;
    --kll-dark-text-emphasis: #495057;
    --kll-primary-bg-subtle: #cfe2ff;
    --kll-secondary-bg-subtle: #e2e3e5;
    --kll-success-bg-subtle: #d1e7dd;
    --kll-info-bg-subtle: #cff4fc;
    --kll-warning-bg-subtle: #fff3cd;
    --kll-danger-bg-subtle: #f8d7da;
    --kll-light-bg-subtle: #fcfcfd;
    --kll-dark-bg-subtle: #ced4da;
    --kll-primary-border-subtle: #9ec5fe;
    --kll-secondary-border-subtle: #c4c8cb;
    --kll-success-border-subtle: #a3cfbb;
    --kll-info-border-subtle: #9eeaf9;
    --kll-warning-border-subtle: #ffe69c;
    --kll-danger-border-subtle: #f1aeb5;
    --kll-light-border-subtle: #e9ecef;
    --kll-dark-border-subtle: #adb5bd;
    --kll-white-rgb: 255, 255, 255;
    --kll-black-rgb: 0, 0, 0;
    --kll-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --kll-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --kll-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --kll-body-font-family: var(--kll-font-sans-serif);
    --kll-body-font-size: 1rem;
    --kll-body-font-weight: 400;
    --kll-body-line-height: 1.5;
    --kll-body-color: #212529;
    --kll-body-color-rgb: 33, 37, 41;
    --kll-body-bg: #fff;
    --kll-body-bg-rgb: 255, 255, 255;
    --kll-emphasis-color: #000;
    --kll-emphasis-color-rgb: 0, 0, 0;
    --kll-secondary-color: rgba(33, 37, 41, 0.75);
    --kll-secondary-color-rgb: 33, 37, 41;
    --kll-secondary-bg: #e9ecef;
    --kll-secondary-bg-rgb: 233, 236, 239;
    --kll-tertiary-color: rgba(33, 37, 41, 0.5);
    --kll-tertiary-color-rgb: 33, 37, 41;
    --kll-tertiary-bg: #f8f9fa;
    --kll-tertiary-bg-rgb: 248, 249, 250;
    --kll-heading-color: inherit;
    --kll-link-color: #0d6efd;
    --kll-link-color-rgb: 13, 110, 253;
    --kll-link-decoration: underline;
    --kll-link-hover-color: #0a58ca;
    --kll-link-hover-color-rgb: 10, 88, 202;
    --kll-code-color: #d63384;
    --kll-highlight-color: #212529;
    --kll-highlight-bg: #fff3cd;
    --kll-border-width: 1px;
    --kll-border-style: solid;
    --kll-border-color: #dee2e6;
    --kll-border-color-translucent: rgba(0, 0, 0, 0.175);
    --kll-border-radius: 0.375rem;
    --kll-border-radius-sm: 0.25rem;
    --kll-border-radius-lg: 0.5rem;
    --kll-border-radius-xl: 1rem;
    --kll-border-radius-xxl: 2rem;
    --kll-border-radius-2xl: var(--kll-border-radius-xxl);
    --kll-border-radius-pill: 50rem;
    --kll-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --kll-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --kll-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --kll-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --kll-focus-ring-width: 0.25rem;
    --kll-focus-ring-opacity: 0.25;
    --kll-focus-ring-color: rgba(13, 110, 253, 0.25);
    --kll-form-valid-color: #198754;
    --kll-form-valid-border-color: #198754;
    --kll-form-invalid-color: #dc3545;
    --kll-form-invalid-border-color: #dc3545;
}