.nav-wrapper {
    background-color: var(--kll-white);
}

.nav-inner,
.nav-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    padding: 0 20px;
}

/* Default styles for larger screens */
.nav-collapse {
    display: flex;
    flex-direction: row;
}

.nav-toggler {
    display: none;
}

.nav-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-link {
    position: relative;
    color: var(--kll-black);
    background-color: var(--kll-white);
    border: none;
    height: 60px;
    width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link::after,
.nav-link::before {
    position: absolute;
    bottom: -1.5px;
    left: 0;
    content: "";
    height: 3px;
    transition: width 0.5s;
}

.nav-link::after {
    background-color: var(--kll-red);
    width: 0%;
}

.nav-link::before {
    background-color: var(--kll-light);
    width: 100%;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}




/* Media query for responsive behavior on smaller screens */
@media (max-width: 768px) {
    .nav-collapse {
        display: none;
        /* Hide the menu by default on smaller screens */
        flex-direction: column;
        /* Stack the items vertically on smaller screens */
    }

    .nav-collapse.show {
        display: flex;
        /* Show the menu when toggled */
    }

    .nav-toggler {
        display: block;
        /* Show the toggler button on smaller screens */
    }
}