.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-content {
    padding: 50px;
}

.tabs-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}